---
import Responsible from './Responsible.astro';
import Limits from './Limits.astro';
import IndoorOutdoor from './IndoorOutdoor.astro';
import Clawing from './Clawing.astro';
import HorizontalRule from '../lib/HorizontalRule.astro';
---
<h2>Cat Care</h2>
<Responsible />
<HorizontalRule />
<Limits />
<HorizontalRule />
<IndoorOutdoor />
<HorizontalRule />
<Clawing />
