---
import Responsible from './Responsible.astro';
import Limits from './Limits.astro';
import IndoorOutdoor from './IndoorOutdoor.astro';
import Clawing from './Clawing.astro';
---
<h2>Cat Care</h2>
<Responsible />
<Limits />
<IndoorOutdoor />
<Clawing />
