---
import TextAreaDynamicLabel from '../../lib/TextAreaDynamicLabel.astro';
---
<div class = "one-col-full-width">
  <TextAreaDynamicLabel
    textareaName = "who-responsible-cat"
    textareaId = "who-responsible-cat"
    textareaRows = "6"
    textareaRequired = false
    labelText = "Who will be responsible for the cat's care?"
  />
</div>

<div class = "one-col-full-width">
  <TextAreaDynamicLabel
    textareaName = "where-litter-box"
    textareaId = "where-litter-box"
    textareaRows = "6"
    textareaRequired = false
    labelText = "Where will you keep the litter box?"
  />
</div>

<div class = "one-col-full-width">
  <TextAreaDynamicLabel
    textareaName = "cat-left-alone"
    textareaId = "cat-left-alone"
    textareaRows = "6"
    textareaRequired = false
    labelText = "About how many hours of the day will your pet be left alone?"
  />
</div>

<div class = "one-col-full-width">
  <TextAreaDynamicLabel
    textareaName = "where-left-alone"
    textareaId = "where-left-alone"
    textareaRows = "6"
    textareaRequired = false
    labelText = "Where will they be left when alone? Be specific."
  />
</div>
