---
import HomeAddress from './HomeAddress.astro';
import HomeDescription from './HomeDescription.astro';
import OwnOrRent from './OwnOrRent.astro';
import ForRenters from './ForRenters.astro';
import HorizontalRule from '../../lib/HorizontalRule.astro';
---
<div class="col-12">
    <h2>Residence Info</h2>
</div>
<HomeAddress />
<HorizontalRule />
<HomeDescription />
<HorizontalRule />
<OwnOrRent />
<HorizontalRule />
<ForRenters />
