---
import HomeAddress from '../../adopt/residenceinfo/HomeAddress.astro';
import PetPermission from './PetPermission.astro';
import CurrentPets from './CurrentPets.astro';
import PetQuestions from './PetQuestions.astro'
import HorizontalRule from '../../lib/HorizontalRule.astro';
import Roommates from './Roommates.astro'
---
<div class="col-12">
    <h2>Residence Info</h2>
</div>
<HomeAddress />
<Roommates />
<HorizontalRule />
<PetPermission />
<CurrentPets />
<PetQuestions />
<HorizontalRule />
