---
import HorizontalRule from '../../lib/HorizontalRule.astro';

import TreatmentCost from './TreatmentCost.astro';
import Circumstances from './Circumstances.astro';
import WhatIf from './WhatIf.astro';
---
<h2>Lifestyle</h2>
<TreatmentCost />
<HorizontalRule />
<Circumstances />
<HorizontalRule />
<WhatIf />
