---
import TextAreaDynamicLabel from '../lib/TextAreaDynamicLabel.astro';
---
<div class = "one-col-full-width">
  <TextAreaDynamicLabel
    textareaName = "what-if-unable-to-care-for-cat"
    textareaId = "what-if-unable-to-care-for-cat"
    textareaRows = "6"
    textareaRequired = false
    labelText = "If you are unable to care for your cat, what will happen to them? List names, phone numbers, and relationship to you."
  />
</div>

<div class = "one-col-full-width">
  <TextAreaDynamicLabel
    textareaName = "what-if-go-out-of-town"
    textareaId = "what-if-go-out-of-town"
    textareaRows = "6"
    textareaRequired = false
    labelText = "What will you do with your cat, when you go out of town?"
  />
</div>

<div class = "one-col-full-width">
  <TextAreaDynamicLabel
    textareaName = "what-if-relocate-new-residence"
    textareaId = "what-if-relocate-new-residence"
    textareaRows = "6"
    textareaRequired = false
    labelText = "What will you do with your cat, if you relocate to a new residence that does not allow pets?"
  />
</div>

<div class = "one-col-full-width">
  <TextAreaDynamicLabel
    textareaName = "what-if-new-partner"
    textareaId = "what-if-new-partner"
    textareaRows = "6"
    textareaRequired = false
    labelText = "What will you do with your cat, if a new partner is allergic to cats?"
  />
</div>

<div class = "one-col-full-width">
  <TextAreaDynamicLabel
    textareaName = "what-if-married-divorced"
    textareaId = "what-if-married-divorced"
    textareaRows = "6"
    textareaRequired = false
    labelText = "What will you do with your cat, if you get married/divorced?"
  />
</div>

<div class = "one-col-full-width">
  <TextAreaDynamicLabel
    textareaName = "reasonable-adjustment-time"
    textareaId = "reasonable-adjustment-time"
    textareaRows = "6"
    textareaRequired = false
    labelText = "What length of time do you feel is reasonable for your cat to adjust to your home?"
  />
</div>
