---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Cats!">
    <article id="main">
        <header>
            <h2>Volunteer ❤️</h2>
            <p>Join our cat-tastic team of volunteers making a difference in the lives of cats</p>
        </header>
        <section class="wrapper style5">
            <div class="inner">
                <h3>Volunteering</h3>

                <p>
                    Long Beach Felines heavily relies on volunteers to support its efforts to help as many cats as possible. If you are an animal lover, and would like to contribute to a good cause, Long Beach Felines offers several opportunities to volunteer.          </p>
                <p>
                    Volunteers are needed to help at adoption events, which are held regularly throughout the year. At these events, volunteers assist with setting up and breaking down the event, handling cats, answering questions from potential adopters, and completing adoption paperwork. This role requires good communication skills, as well as patience and the ability to work with a team.          
                </p>
                <p>
                    Socializing cats is another way that volunteers can help Long Beach Felines. This involves spending time with cats and kittens to help them become comfortable around people. Socializing cats can help them become more adoptable, and it can be a fun and rewarding experience for volunteers who enjoy spending time with animals.
                </p>
                <p>
                    Fundraising and development is another important aspect of Long Beach Felines' work, and volunteers are needed to help with this task. This role involves planning and executing fundraising events, seeking out donations and sponsorships, and working on grant applications. Volunteers with strong organizational and communication skills are well-suited to this role.
                </p>
                <p>
                    In addition to fundraising, Long Beach Felines relies on publicity and advertising to raise awareness of their work and attract potential adopters and volunteers. Volunteers can help with this task by creating social media posts, designing flyers and brochures, and promoting events and adoption opportunities. This role requires creativity and a strong understanding of social media and marketing.
                </p>
                <p>
                    Finally, Long Beach Felines operates a phone hotline to help people with questions about cat care and to report cats in need. Volunteers are needed to staff this hotline, and this role requires good communication skills, empathy, and a willingness to learn about cat care.
                </p>

                <hr />

                <h4>Applying</h4>

                <p>
                    To volunteer with Long Beach Felines you must be at least 16 years old. Volunteers who are under the age of 18 will need to have a parent or guardian's signature to participate in any of the volunteer opportunities. This requirement is in place to ensure the safety and well-being of both the volunteers and the cats.          
                </p>
                <p>
                    If you meet the age requirement and would like to become a volunteer, you can contact Long Beach Felines via email at volunteer@longbeachfelines.org or our online volunteer application form.
                </p>
                <p>
                    The online application form allows prospective volunteers to indicate their areas of interest and preferred volunteer roles, as well as provide information about their availability and any relevant skills or experience they may have. Once the application is submitted, Long Beach Felines will review it and contact the applicant to discuss the next steps.
                </p>
                <p>
                    In addition to filling out the online application, volunteers will need to attend an orientation and training session before beginning their volunteer work. This orientation will cover important information about the organization's mission, policies, and procedures, as well as provide training on how to interact with the cats and handle any situations that may arise during volunteer shifts.
                </p>

            </div>
        </section>
</article>
</Layout>
