---
import Notice from './Notice.astro';
import AboutYou from './aboutyou/AboutYou.astro';
import ResidenceInfo from './residenceinfo/ResidenceInfo.astro';
import CatCare from './catcare/CatCare.astro';
import ExtraCats from './ExtraCats.astro';
import Lifestyle from './lifestyle/Lifestyle.astro';
import Signature from './Signature.astro';
---
<!-- Adoption Form -->
<section>
    <div class="inner">
        <form id="adoption-form" name="adoption" method="POST" data-netlify="true">
            <div class="row gtr-uniform">
                <input type="hidden" name="subject" value="adoption" />

                <Notice />
                <AboutYou />
                <ResidenceInfo />
                <CatCare />
                <ExtraCats />
                <Lifestyle />
                <Signature />

                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Send" class="primary" /></li>
                        <li><input type="button" value="Reset" onclick="dynamicInputReset();" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</section>
