---
import InputDynamicLabel from '../lib/InputDynamicLabel.astro';
import HorizontalRule from '../lib/HorizontalRule.astro';
---
<div class="col-12">
    <h2>Extra Cats</h2>
</div>
<div class="col-12" id="extra-cats">
</div>
<div class="col-12">
    <ul class="actions">
        <li><input type="button" value="Add Cat" onclick="addCat()" /></li>
    </ul>
</div>
<template id="extra-cats-template">
    <div class="extra-cat-container">
        <div class = "two-col-full-width">
            <InputDynamicLabel
              inputType = "text"
              inputName = "cat-name-name"
              inputId = "cat-name-id"
              inputRequired = true
              labelText = "Cat Name"
            />
            <InputDynamicLabel
              inputType = "text"
              inputName = "cat-age-name"
              inputId = "cat-age-id"
              inputRequired = true
              labelText = "Age"
            />
            <InputDynamicLabel
              inputType = "text"
              inputName = "cat-gender-name"
              inputId = "cat-gender-id"
              inputRequired = true
              labelText = "Gender"
            />
            <InputDynamicLabel
              inputType = "text"
              inputName = "cat-spayed-neutered-name"
              inputId = "cat-spayed-neutered-id"
              inputRequired = true
              labelText = "Spayed/Neutered"
            />
            <InputDynamicLabel
              inputType = "text"
              inputName = "cat-declawed-name"
              inputId = "cat-declawed-id"
              inputRequired = true
              labelText = "Declawed"
            />
        </div>

        <div class="col-12 ptop15">
            <ul class="actions">
                <li><input class="remove-extra-cat" type="button" value="Remove Cat" /></li>
            </ul>
        </div>

        <div class="row">
            <HorizontalRule />
        </div>
    </div>
</template>

<style>
    .ptop15 {
        padding-top: 1.5em !important;
    }
</style>

<script is:inline>
    function getRandomId () {
        return Math.random().toString(36).substring(2);
    }

    function addCat() {
        const $extraCats = document.getElementById("extra-cats");
        const $extraCatsTemplate = document.getElementById("extra-cats-template");
        const $extraCatsClone = $extraCatsTemplate.content.cloneNode(true);

        const randomId = getRandomId();
        const eccri = "extra-cat-container-" + randomId;
        $extraCatsClone
            .querySelector('.extra-cat-container')
            .setAttribute('id', eccri);

        $extraCatsClone
            .querySelector(".remove-extra-cat")
            .addEventListener('click', function() {
                document.getElementById(eccri).remove();
            });

        templateEventListener($extraCatsClone);

        $extraCats.appendChild($extraCatsClone);
    }

    function templateEventListener(fragment) {
        fragment.querySelectorAll('.input-dynamic-label').forEach (function(elem) {
            elem.addEventListener('input', function() {
                elem.setAttribute('value', elem.value);
            })
        })

        fragment.querySelectorAll('.textarea-dynamic-label').forEach (function(elem) {
            elem.addEventListener('input', function() {
                elem.setAttribute('value', elem.value);
            })
        })
    }
</script>
