---
import InputDynamicLabel from '../lib/InputDynamicLabel.astro';
import HorizontalRule from '../lib/HorizontalRule.astro';
---
<div class="col-12">
    <h2>Extra Cats</h2>
</div>
<div class="col-12" id="extra-cats">
</div>
<div class="col-12">
    <ul class="actions">
        <li><input type="button" value="Add Cat" onclick="addCat()" /></li>
    </ul>
</div>
<template id="extra-cats-template">
    <div class="extra-cat-container">
        <div class = "two-col-full-width">
            <InputDynamicLabel
              inputType = "text"
              inputName = "extra-cat-[CATID]-name"
              inputId = "extra-cat-[CATID]-name"
              inputRequired = true
              labelText = "Cat Name"
            />
            <InputDynamicLabel
              inputType = "text"
              inputName = "extra-cat-[CATID]-age"
              inputId = "extra-cat-[CATID]-age"
              inputRequired = true
              labelText = "Age"
            />
            <InputDynamicLabel
              inputType = "text"
              inputName = "extra-cat-[CATID]-gender"
              inputId = "extra-cat-[CATID]-gender"
              inputRequired = true
              labelText = "Gender"
            />
            <InputDynamicLabel
              inputType = "text"
              inputName = "extra-cat-[CATID]-spayed-neutered"
              inputId = "extra-cat-[CATID]-spayed-neutered"
              inputRequired = true
              labelText = "Spayed/Neutered"
            />
            <InputDynamicLabel
              inputType = "text"
              inputName = "extra-cat-[CATID]-declawed"
              inputId = "extra-cat-[CATID]-declawed"
              inputRequired = true
              labelText = "Declawed"
            />
            <InputDynamicLabel
              inputType = "text"
              inputName = "extra-cat-[CATID]-declawed-where"
              inputId = "extra-cat-[CATID]-declawed-where"
              inputRequired = false
              labelText = "If declawed, where?"
            />
            <InputDynamicLabel
              inputType = "text"
              inputName = "extra-cat-[CATID]-felv-fiv-tested"
              inputId = "extra-cat-[CATID]-felv-fiv-tested"
              inputRequired = true
              labelText = "Tested for FeLV & FIV?"
            />
            <InputDynamicLabel
              inputType = "text"
              inputName = "extra-cat-[CATID]-felv-fiv-result"
              inputId = "extra-cat-[CATID]-felv-fiv-result"
              inputRequired = true
              labelText = "Test result?"
            />
        </div>

        <div class="col-12 ptop15">
            <ul class="actions">
                <li><button class="extra-cat-remove">Remove Cat</button></li>
            </ul>
        </div>

        <div class="row">
            <HorizontalRule />
        </div>
    </div>
</template>

<style>
    .ptop15 {
        padding-top: 1.5em !important;
    }
</style>

<script is:inline>
    function getRandomId () {
        return Math.random().toString(36).substring(2);
    }

    function addCat() {
        const $extraCats = document.getElementById("extra-cats");
        const $extraCatsTemplate = document.getElementById("extra-cats-template");
        const $extraCatsClone = $extraCatsTemplate.content.cloneNode(true);

        const randomId = getRandomId();
        const eccri = "extra-cat-container-" + randomId;
        $extraCatsClone
            .querySelector('.extra-cat-container')
            .setAttribute('id', eccri);

        $extraCatsClone
            .querySelector(".extra-cat-remove")
            .addEventListener('click', function() {
                document.getElementById(eccri).remove();
            });

        templateUpdateCatid($extraCatsClone, randomId);
        templateEventListener($extraCatsClone);

        $extraCats.appendChild($extraCatsClone);
    }

    function templateUpdateCatid (fragment, replacement) {
        fragment
            .querySelectorAll("input")
            .forEach (function(elem) {
                $(elem)
                    .attr("name", function(_, currentAttr) {
                        return currentAttr.replace("CATID", replacement);
                    })
                    .attr("id", function(_, currentAttr) {
                        return currentAttr.replace("CATID", replacement);
                    });
            });
        fragment
            .querySelectorAll("label")
            .forEach (function(elem) {
                $(elem)
                    .attr("for", function(_, currentAttr) {
                        return currentAttr.replace("CATID", replacement);
                    })
            });
    }

    function templateEventListener(fragment) {
        fragment.querySelectorAll('.input-dynamic-label').forEach (function(elem) {
            elem.addEventListener('input', function() {
                elem.setAttribute('value', elem.value);
            })
        })

        fragment.querySelectorAll('.textarea-dynamic-label').forEach (function(elem) {
            elem.addEventListener('input', function() {
                elem.setAttribute('value', elem.value);
            })
        })
    }
</script>
