---
import InputDynamicLabel from './InputDynamicLabel.astro';
import TextAreaDynamicLabel from './TextAreaDynamicLabel.astro';
import PetPermission from './PetPermission.astro';
---
<div class = "one-col-full-width">
  <h5>For renters:</h5>
  <TextAreaDynamicLabel
    textareaName = "multi-unit-pet-rules"
    textareaId = "multi-unit-pet-rules"
    textareaRows = "6"
    textareaRequired = false
    labelText = "What are the rules about keeping pets?"
  />
</div>

<div class = "two-col-full-width">
  <InputDynamicLabel
    inputType = "text"
    inputName = "landlord-name"
    inputId = "landlord-name"
    inputRequired = false
    labelText = "Landlord Name"
  />
  <InputDynamicLabel
    inputType = "tel"
    inputName = "landlord-phone"
    inputId = "landlord-phone"
    inputRequired = false
    labelText = "Landlord Phone Number"
  />
</div>

<PetPermission />
