---
import HomeAddress from './residenceinfo/HomeAddress.astro';
import HomeDescription from './residenceinfo/HomeDescription.astro';
import OwnOrRent from './residenceinfo/OwnOrRent.astro';
import ForRenters from './residenceinfo/ForRenters.astro';
---
<div class="col-12">
    <h2>Residence Info</h2>
</div>
<HomeAddress />
<HomeDescription />
<OwnOrRent />
<ForRenters />
