---
---
<div class="col-12">
  <h2>Signature</h2>
  <p>
    I have read the above information carefully and have filled out this application honestly.  I understand that Long Beach Felines reserves the right to decline my application for any reason.  If an omission or untruth is discovered after the adoption is completed, I understand and accept that the foster has the right to annul the adoption and reclaim the cat.  I release Long Beach Felines from any liability and/or responsibility from any damage a cat may cause me during the adoption process.
  </p>
  <p>
    This application becomes part of our contract.
  </p>
</div>

<div class="col-4 col-12-xsmall">
  <input type="date" id="signature-date" name="signature-date">
</div>
