---
import Feature from "./Feature.astro";
import FeatureContainer from "./FeatureContainer.astro";
---
<!-- Three -->
<section id="three" class="wrapper style3 special">
    <div class="inner">
        <header class="major">
                <h2>Accumsan mus tortor nunc aliquet</h2>
                <p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br />
                fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
        </header>
        <FeatureContainer>
            <Feature
                className="icon fa-paper-plane"
                header="Arcu accumsan"
                text="Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat."
            />
            <Feature
                className="icon solid fa-laptop"
                header="Arcu accumsan"
                text="Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat."
            />
            <Feature
                className="icon solid fa-code"
                header="Arcu accumsan"
                text="Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat."
            />
            <Feature
                className="icon solid fa-headphone-alt"
                header="Arcu accumsan"
                text="Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat."
            />
            <Feature
                className="icon fa-heart"
                header="Arcu accumsan"
                text="Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat."
            />
            <Feature
                className="icon fa-flag"
                header="Arcu accumsan"
                text="Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat."
            />
        </FeatureContainer>
    </div>
</section>
