---
import HorizontalRule from '../lib/HorizontalRule.astro';
import TextAreaDynamicLabel from '../lib/TextAreaDynamicLabel.astro';
import InputDynamicLabel from '../lib/InputDynamicLabel.astro';
---
<HorizontalRule />
<div class="col-12">
  <h2>Additional Info</h2>
</div>
<div class="col-12">
  <InputDynamicLabel
    inputType = "text"
    inputName = "volunteer-hours-available"
    inputId = "volunteer-hours-available"
    inputRequired = true
    labelText = "How many hours per month are you available?"
    />
</div>
<div class="col-12">
  <TextAreaDynamicLabel
    textareaName = "volunteer-special-skills"
    textareaId = "volunteer-special-skills"
    textareaRows = "4"
    textareaRequired = false
    labelText = "Please list any skills or experience that may be useful:"
  />
</div>
<div class="col-12">
  <TextAreaDynamicLabel
    textareaName = "volunteer-limitations"
    textareaId = "volunteer-limitations"
    textareaRows = "4"
    textareaRequired = false
    labelText = "Please list any limitations you may have:"
  />
</div>

