---
// layout: '../layouts/Generic.astro'
import Generic from '../layouts/Generic.astro';
const frontmatter = {
  title: "Cats!",
};
// const bannerTitle = "Cat Care"️
// const bannerText = "Make a paws-itive impact on feline lives"

import { getCollection } from 'astro:content';
const blogEntries = await getCollection('catcare');
---
<Generic frontmatter="">
<ul>
  {blogEntries.map(blogPostEntry => (
    <li>
      <a href={`/catcare/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
      <time datetime={blogPostEntry.data.publishedDate.toISOString()}>
        {blogPostEntry.data.publishedDate.toDateString()}
      </time>
    </li>
  ))}
</ul>
</Generic>
