---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import One from '../components/One.astro';
import Two from '../components/Two.astro';
import Three from '../components/Three.astro';
---
<Layout title="Cats!">
    <Banner>
        <h2>Long Beach Feline Rescue ❤️</h2>
        <p>Giving cats and kittens a second chance</p>
        <ul class="actions special">
            <li><a href="/donate" class="button primary">Donate</a></li>
        </ul>
    </Banner> 
    <One />
    <Two />
    <Three />
</Layout>
