---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import One from '../components/One.astro';
import Two from '../components/Two.astro';
import Three from '../components/Three.astro';
---
<Layout title="Cats!">
    <Banner>
        <h2>Spectral</h2>
        <p>Another fine responsive<br />
        site template freebie<br />
        crafted by <a href="http://html5up.net">HTML5 UP</a>.</p>
        <ul class="actions special">
            <li><a href="#" class="button primary">Activate</a></li>
        </ul>
    </Banner> 
    <One />
    <Two />
    <Three />
</Layout>
