<!-- Adoption Form -->
<style>
    .applicant-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
    }
    @media screen and (max-width: 700px) {
        .applicant-info {
            grid-template-columns: 1fr;
        }
    }
    .col-12-xsmall {
        display: flex;
        flex-direction: row;
    }
    .validity {
        width: 40px;
        display: flex;
        align-items: center
    }

    .specialInput ~ label {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 1em;
      margin: auto 0;
      display: flex;
      align-items: center;
      pointer-events: none;
      font-size: 1em;
      transition: all 0.15s ease-out;
    }

    .specialInput {
      height: 3.5em !important;
      padding: 1em 1em 0em !important;
    }

    .specialInput:focus ~ label,
    .specialInput:not([value=""]) ~ label
    {
      font-size: 12px;
      transform: translate(0, -36%);
      padding-left: 4px;
      padding-right: 4px;
    }

    .specialInput:focus ~ label {
      color: DarkSlateBlue !important;
    }

    .prel {
      position: relative;
    }
</style>
<section id="adoption-form">
    <div class="inner">
        <form name="adoption" method="POST" data-netlify="true">
            <div class="row gtr-uniform">
                <input type="hidden" name="subject" value="adoption" />
                <div class="col-12">
                    <h2>Notice</h2>
                    Completion of this document DOES NOT imply a guarantee of approval for adoption of any Long Beach Felines animals. This document is the property of Long Beach Felines. Please complete each question completely. Your questionnaire will be thoroughly reviewed after submission. We reserve the right to decline an application without explanation. Any discussions you've had with staff at the Feline Good Social Club Lounge are not binding on Long Beach Felines. This approval process may take a few days. We look forward to getting to know you.
                    <input type="checkbox" name="acknowledge" id="acknowledge" />
                    <label for="acknowledge">
                        By checking this box, I acknowledge that I have read the above paragraph and approve the terms listed.
                    </label>
                </div>

                <div class="col-12">
                    <h2>About you</h2>
                </div>
                <div class="applicant-info">
                    <div class="col-6 col-12-xsmall prel">
                        <input class="specialInput" type="text" name="applicant-name" id="applicant-name" value="" placeholder="" required />
                        <label for="applicant-name">Applicant Name</label>
                        <span class="validity"></span>
                    </div>
                    <div class="col-6 col-12-xsmall prel">
                        <input class="specialInput" type="text" name="co-applicant-name" id="co-applicant-name" value="" placeholder="" />
                        <label for="co-applicant-name">Co-Applicant Name</label>
                        <span class="validity"></span>
                    </div>
                    <div class="col-6 col-12-xsmall prel">
                        <input class="specialInput" type="text" name="applicant-occuption" id="applicant-occuption" value="" placeholder="" required />
                        <label for="applicant-occupation">Applicant Occupation</label>
                        <span class="validity"></span>
                    </div>
                    <div class="col-6 col-12-xsmall prel">
                        <input class="specialInput" type="text" name="co-applicant-occuption" id="co-applicant-occuption" value="" placeholder="" />
                        <label for="co-applicant-occupation">Co-Applicant Occupation</label>
                        <span class="validity"></span>
                    </div>
                    <div class="col-6 col-12-xsmall prel">
                        <input class="specialInput" type="tel" name="applicant-home-phone" id="applicant-home-phone" value="" required pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" maxlength="12" />
                        <label for="applicant-home-phone">Phone Number</label>
                        <span class="validity"></span>
                    </div>
                </div>






                <div class="col-12">
                    <textarea name="message" id="message" placeholder="Your Message" rows="6" required></textarea>
                </div>
                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Send" class="primary" /></li>
                        <li><input type="reset" value="Reset" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</section>
