---
import InputDynamicLabel from './InputDynamicLabel.astro';
---
<!-- Adoption Form -->
<style>
    .applicant-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        width: 100%;
    }
    @media screen and (max-width: 700px) {
        .applicant-info {
            grid-template-columns: 1fr;
        }
    }
    .col-12-xsmall {
        display: flex;
        flex-direction: row;
    }
    .validity {
        width: 40px;
        display: flex;
        align-items: center
    }

    .input-dynamic-label ~ label {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 1em;
      margin: auto 0;
      display: flex;
      align-items: center;
      pointer-events: none;
      font-size: 1em;
      transition: all 0.15s ease-out;
    }

    .input-dynamic-label {
      height: 3.5em !important;
      padding: 1em 1em 0em !important;
    }

    .input-dynamic-label:focus ~ label,
    .input-dynamic-label:not([value=""]) ~ label
    {
      font-size: 12px;
      transform: translate(0, -36%);
      padding-left: 4px;
      padding-right: 4px;
    }

    .input-dynamic-label:focus ~ label {
      color: DarkSlateBlue !important;
    }

    .prel {
      position: relative;
    }
</style>
<section>
    <div class="inner">
        <form id="adoption-form" name="adoption" method="POST" data-netlify="true">
            <div class="row gtr-uniform">
                <input type="hidden" name="subject" value="adoption" />
                <div class="col-12">
                    <h2>Notice</h2>
                    Completion of this document DOES NOT imply a guarantee of approval for adoption of any Long Beach Felines animals. This document is the property of Long Beach Felines. Please complete each question completely. Your questionnaire will be thoroughly reviewed after submission. We reserve the right to decline an application without explanation. Any discussions you've had with staff at the Feline Good Social Club Lounge are not binding on Long Beach Felines. This approval process may take a few days. We look forward to getting to know you.
                    <input type="checkbox" name="acknowledge" id="acknowledge" />
                    <label for="acknowledge">
                        By checking this box, I acknowledge that I have read the above paragraph and approve the terms listed.
                    </label>
                </div>

                <div class="col-12">
                    <h2>About you</h2>
                </div>
                <div class="applicant-info">
                    <InputDynamicLabel
                      inputType="text"
                      inputName="applicant-name"
                      inputId="applicant-name"
                      inputRequired=true
                      labelText="Applicant Name"
                    />
                    <InputDynamicLabel
                      inputType="text"
                      inputName="co-applicant-name"
                      inputId="co-applicant-name"
                      inputRequired=false
                      labelText="Co-Applicant Name"
                    />
                    <InputDynamicLabel
                      inputType="text"
                      inputName="applicant-occupation"
                      inputId="applicant-occupation"
                      inputRequired=true
                      labelText="Applicant Occupation"
                    />
                    <InputDynamicLabel
                      inputType="text"
                      inputName="co-applicant-occupation"
                      inputId="co-applicant-occupation"
                      inputRequired=false
                      labelText="Co-Applicant Occuption"
                    />
                    <!--
                    <div class="col-6 col-12-xsmall prel">
                        <input class="input-dynamic-label" type="text" name="test" id="test" value="" placeholder="" />
                        <label for="test">TEST</label>
                        <span class="validity"></span>
                    </div>
                    -->
                    <div class="col-6 col-12-xsmall prel">
                        <input class="input-dynamic-label" type="tel" name="applicant-home-phone" id="applicant-home-phone" value="" required="true" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" maxlength="12" />
                        <label for="applicant-home-phone">Phone Number</label>
                        <span class="validity"></span>
                    </div>
                </div>






                <div class="col-12">
                    <textarea name="message" id="message" placeholder="Your Message" rows="6" required></textarea>
                </div>
                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Send" class="primary" /></li>
                        <li><input type="reset" value="Reset" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</section>
