---
import TextAreaDynamicLabel from '../components/lib/TextAreaDynamicLabel.astro';
import InputDynamicLabel from '../components/lib/InputDynamicLabel.astro'
---
<!-- Contact -->
<style>
  #main > header {
    background-image: none;
  }
  .spotlight-form {
    padding: 25px;
    background-color: rgb(46,56,66);
  }
  #contact-header {
    text-align: center;
    background-color: rgb(46,56,66);
    margin: 0;
    padding: 50px;
  }
</style>
<article id="main">
  <h2 id="contact-header">Contact Us ❤️</h2>
    <section id="contact" class="spotlight-form">
    <div class="inner">
        <form name="contact" method="POST" action="/success" data-netlify="true">
            <div class="row gtr-uniform">
                <input type="hidden" name="subject" value="contact" />
                <div class = "two-col-full-width">
                  <InputDynamicLabel
                    inputType = "text"
                    inputName = "contact-name"
                    inputId = "contact-name"
                    inputRequired = true
                    labelText = "Name"
                  />
                  <InputDynamicLabel
                    inputType = "email"
                    inputName = "contact-email"
                    inputId = "contact-email"
                    inputRequired = true
                    labelText = "Email"
                  />           
                </div>
                <div class = "one-col-full-width">
                  <TextAreaDynamicLabel
                    textareaName = "contact-message"
                    textareaId = "contact-message"
                    textareaRows = "6"
                    textareaRequired = false
                    labelText = "Your Message"
                  />
                </div>
                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Send" class="primary" /></li>
                        <li><input type="reset" value="Reset" /></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
  </section>
</article>
