---
const navClassName = "";
// const navClassName = Astro.url.pathname === "/index.html" || Astro.url.pathname === "/" ? "alt" : "";
---
<!-- Header -->
<header id="header" class={navClassName}>
    <h1><a href="/index.html"><span class="fas fa-cat"></span> LB Feline Rescue</a></h1>
    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                <div id="menu">
                    <ul>
                        <li><a href="/index.html">Home</a></li>
                        <li><a href="/donate.html">Donate</a></li>
                        <li><a href="/adopt.html">Adopt</a></li>
                        <li><a href="/foster.html">Foster</a></li>
                        <li><a href="/volunteer.html">Volunteer</a></li>
                        <li><a href="/catcare.html">Cat Care</a></li>
                        <li><a href="/contact.html">Contact</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>
