---

---
<!-- Created with ❤️ by Code and Coffee, Long Beach -->
<title>Long Beach Feline Rescue</title>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="description" content="Long Beach Feline Rescue is a non-profit organization dedicated to rescuing and rehabilitating cats in need.
Join us in our mission to save the lives of cats and promote their well-being throughout the community.">
<meta name="keywords" content="Long Beach, Cats, Shelter, Rescue, Adopt Kittens" />
<meta name="robots" content="index,follow" /> 

<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Long Beach Feline Rescue" />
<meta property="og:description" content="Long Beach Feline Rescue is a non-profit organization dedicated to rescuing and rehabilitating cats in need. Join us in our mission to save the lives of cats and promote their well-being throughout the community." />
<meta property="og:image" content="/images/banner.jpg" />
<!-- <meta property="og:url" content="" /> -->
<meta property="og:site_name" content="Long Beach Feline Rescue" />

<!-- <link rel="canonical" href="" /> -->
<link rel="icon" href="/favicon.svg">
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">

<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>