<!-- One -->
<section id="one" class="wrapper style1 special">
        <div class="inner">
                <header class="major">
                        <p>
                          Long Beach Feline Rescue is a non-profit organization dedicated to rescuing and rehabilitating cats in need.<br/>
                          Join us in our mission to save the lives of cats and promote their well-being throughout the community.<br/>
                        </p>
                        <a href="/adopt" class="button primary">
                          Adopt
                        </a>
                        <a href="/catcare" class="button primary">
                          read our Blog
                        </a>
                        <a href="/volunteer" class="button primary">
                          Volunteer
                        </a>
                </header>
        </div>
</section>
