---
export interface Props {
  imageSrc: string;
  header: string;
  text: string;
}
const { imageSrc, header, text } = Astro.props;
---
<section class="spotlight">
    <div class="image"><img src={imageSrc} alt="" /></div><div class="content">
        <h2>{header}</h2>
        <p>
          {text}
        </p>
    </div>
</section>
