---
export interface Props {
  imageSrc: string;
  imageAlt: string;
  header: string;
  href: string;
}
const { imageSrc, header, href, imageAlt } = Astro.props;
---
<section class="spotlight">
    <div class="image"><img src={imageSrc} alt={imageAlt} /></div><div class="content">
        <h2>
            <a href={href}>
                {header}
            </a>
        </h2>
        <slot />
    </div>
</section>
