<!-- Three -->
<style>
  .flex-container {
    display:flex;
    flex-direction:row;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 650px) {
  .flex-container {
    flex-direction: column;
  }
}
</style>
<section id="three" class="wrapper style3 special">
    <div class="inner">
        <header class="major">
          <h2>Hyla Morrow</h2>
          <div class='flex-container'>
            <img height="415px" width="315px" src="/images/home_tribute.jpg" alt="Hyla Morrow">
            <p>Long Beach Felines wishes to acknowledge our never-ending gratitude to the Hyla Morrow Trust for its generous funding of our rescue and adoption efforts.<br />
              Hyla was a talented actress, investor, and animal advocate, and the  embodiment of the American spirit. In fact, her professional success as a day-trader fueled her personal goal to  provide for homeless cats while working to advance their rights and protection.  She created a Trust that since her death in 2016 has benefitted over 60 organizations that help homeless cats find medical care and forever homes.</p>
          </div>
        </header>
    </div>
</section>
