---
import TextAreaDynamicLabel from '../../lib/TextAreaDynamicLabel.astro';
---
<div class = "one-col-full-width">
  <TextAreaDynamicLabel
    textareaName = "specific-cats"
    textareaId = "specific-cats"
    textareaRows = "6"
    textareaRequired = false
    labelText = "Are you apply for a specific cat? If so, name(s)?"
  />
</div>
