---
export interface Props {
	title: string;
}
<<<<<<< HEAD

import '../styles/main.scss';
=======
>>>>>>> 356a675 (Home page VU. Added images. Added navbar to home page. Added tribute section. Add websitemeta metadata file. Added website title and icon.)

import Header from '../components/Header.astro';
// import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
import Scripts from '../components/Scripts.astro';
import Contact from '../components/ContactUs.astro';

import websitemeta from "../websitemeta"
---
<!DOCTYPE HTML>
<!--
    Spectral by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
    <head>
        <title>{websitemeta.title}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="icon" href={websitemeta.favicon}>
        <noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
    </head>
    <style>
      #page-wrapper {
        background-image: url("/images/hero.jpg");
        background-size: cover;
        background-position-y: 10%;
        background-attachment: fixed;
        background-repeat: no-repeat;
      }
    </style>
    <body class="is-preload">
        <!-- Page Wrapper -->
        <div id="page-wrapper">
            <Header />
            <slot />
            <Contact />
            <Footer />
        </div>
        <Scripts />
    </body>
</html>
<style>
  #page-wrapper {
    background-image: url("/images/banner.jpg");
    background-size: cover;
    background-position-y: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
</style>
